rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function imageBelow(maxSizeMB) {
      return request.resource.size < maxSizeMB * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
    function isAdmin() {
      return request.auth != null && request.auth.token.isAdmin == true;
    }

    match /products/{userId}/{productId}/{varietyId} {
      allow create, update: if isAdmin()
        || (request.auth != null && request.auth.uid == userId && imageBelow(3));
      allow delete: if isAdmin()
        || (request.auth != null && request.auth.uid == userId);
      allow read: if true;
    }

    match /products/{userId}/storefront-wallpaper.jpg {
      allow create, update: if request.auth != null
        && request.auth.uid == userId
        && imageBelow(3);
      allow delete: if request.auth != null && request.auth.uid == userId;
      allow read: if true;
    }

    match /library/{category}/{imageId} {
      allow write: if isAdmin() && imageBelow(10);
      allow read: if true;
    }
  }
}
